# LIST Practice Set:

It will include below mentioned topic's practice set:
1. Python List operations and manipulations
2. Python List functions
3. Python list slicing
4. Python list comprehension

In [2]:
# Exercise 1: Reverse a given list in Python:

aList = [100, 200, 300, 400, 500]

aList.reverse()

In [3]:
print(aList)

[500, 400, 300, 200, 100]

In [7]:
aList = [100, 200, 300, 400, 500]
aList=aList[::-1]
print(aList)

[500, 400, 300, 200, 100]

In [31]:
#Exercise 2: Concatenate two lists index-wise?
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3=list()
for i in range(len(list1)):
    for j in range(len(list2)):
        if i==j:
            list3.append(list1[i]+list2[j])
        else:
            continue
print(list3)

['My', 'name', 'is', 'Kelly']

In [19]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

In [35]:
#Exercise 3: Given a Python list of numbers. Turn every item of a list into its square
aList = [1, 2, 3, 4, 5, 6, 7]

for i in range(len(aList)):
    aList[i]*=aList[i]
print(aList)

[1, 4, 9, 16, 25, 36, 49]

In [36]:
ListComprehension:
    
aList = [1, 2, 3, 4, 5, 6, 7]
aList=[x*x for x in aList]
print(aList)

[1, 4, 9, 16, 25, 36, 49]

In [41]:
#Exercise 4: Concatenate two lists in the following order  ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3=list()
for i in list1:
    for j in list2:
        list3.append(i+j)
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [42]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

resList = [x+y for x in list1 for y in list2]
print(resList)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

#Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

In [57]:

list1 = [10, 20, 30, 40]
list2 = [200, 300, 400,500]
for x in range(len(list1)):
    for y in range(len(list2)):
        if x==y:
            print(list1[x])
            print(list2[-y-1])

10
500
20
400
30
300
40
200

In [58]:
for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 500
20 400
30 300
40 200

In [96]:
#Remove empty strings from the list of strings

List1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in List1:
    if i =="":
        j=List1.index(i)
        List1.pop(j)

In [97]:
print(List1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [84]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
resList = list(filter(None, list1))
print(resList)

['Mike', 'Emma', 'Kelly', 'Brad']

In [98]:
#Exercise 7: Add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [99]:
list1[2][2].append(7000)

In [100]:
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
#Exercise 8: Given a nested list extend it by adding 
#the sub list ["h", "i", "j"] in such a way that it will look like the following list

# ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [102]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

In [105]:
list1[2][1][2].extend( ["h", "i", "j"])

In [106]:
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [109]:
#Exercise 9: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]

In [112]:
i1=list1.index(20)
list1[i1]=200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [113]:
#Exercise 10: Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]

In [115]:
for x in list1:
    if x==20:
        y=list1.index(x)
        list1.pop(y)
print(list1)

[5, 15, 25, 50]

In [2]:
#Exercise 1: Print First 10 natural numbers using while loop
i=0
while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

Print the following pattern:
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [27]:
num=6
for i in range(num):
    for j in range(i):
        print(j+1, end=" ") # print number

    # line after each row to display pattern correctly

    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [48]:
#Exercise 4: Print multiplication table of a given number
x=2
for i in range(1,11):
    print(x*(i))

2
4
6
8
10
12
14
16
18
20

In [49]:
i=1
x=2
while i<=10:
    print(x*i)
    i=i+1

2
4
6
8
10
12
14
16
18
20

In [51]:
#Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [52]:
for i in list1:
    if i >150:
        break
    if i%5==0:
        print(i)
    else:
        continue

15
55
75
150