# Variables:

Variables are containers for storing data values.

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

Variables do not need to be declared with any particular type, and can even change type after they have been set.

#Casting:

If you want to specify the data type of a variable, this can be done with casting.

You can get the data type of a variable with the type() function.

In [1]:
print("Hello")

Hello

In [2]:
x=2
y=3
z=x+y
print(z)

5

In [3]:
#Casting:
x=str(2)
y=3
z=x+y
print(z)

TypeError: can only concatenate str (not "int") to str

In [4]:
print(x)

2

In [5]:
type(x) #here we can see x is a string variable bcz it has been type casted in previous cell

str

In [6]:
type(y)

int

In [9]:
x=int(x) # again type casted the value of x

In [10]:
x+y

5

# Many Values to Multiple Variables:
    
Python allows you to assign values to multiple variables in one line

One Value to Multiple Variables:
    
And you can assign the same value to multiple variables in one line

Unpack a Collection:
    
If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. 
This is called unpacking.

In [11]:
x, y, z = "Orange", "Banana", "Cherry"

In [12]:
x

'Orange'

In [13]:
fruits = ["apple", "banana", "cherry"]

In [14]:
x,y,z=fruits

print(x,y,z)

Global Variables:

Variables that are created outside of a function (as in all of the examples) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [16]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [17]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

When we create a variable inside a function then it becomes local variable i.e. we can use that varibale inside the functio only.

but if we want to make the varibale global which is declared inside the function 

then we have to use the global keyword with the variable name.

In [1]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

In [5]:
x="chandra"
def myfunction():
    global x 
    x="pujari"
myfunction()
print("my name is "+ x)

my name is pujari

As we know variable is a container which can store any kind of data.
But for each variable there is a built in data type already defined in backend.
As we know in python we don't need to declare varibale type but python can interprate the data type of variable automatically 
by the nature of data stored in it.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

 Note: To know the type of the variable type() function would be used.

In [6]:
x=2
type(x)

int

In [7]:
x='2chandra'
type(x)

str

In [14]:

x1 = "Hello World"
type(x1)

str

In [10]:
x2 = 20
type(x2)

int

In [11]:

x3 = 20.5
type(x3)

float

In [12]:
x4 = 1j
type(x4)

complex

In [13]:
x5 = ["apple", "banana", "cherry"]
type(x5)

list

In [17]:
x = {"name" : "John", "age" : 36}
type(x)

dict

In [19]:
x={"chandra",2,2j,2.3}
type(x)

set

In [20]:
x = ("apple", "banana", "cherry")
type(x)

tuple

In [23]:
x = ["apple", "banana", 2]
type(x)

list

# Type Casting:
    
    There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [24]:
x=2
str(x)

'2'

In [25]:
type(x)

int

In [30]:
x=float(x)

In [31]:
type(x)

float

strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [38]:
a = "Hello,Guys!"
print(a[0])

H

In [39]:
count=0
for i in a:
    print(i+"----"+ str(count))
    count=count+1

H----0
e----1
l----2
l----3
o----4
,----5
G----6
u----7
y----8
s----9
!----10

In [41]:
#length of string can be calculated using len()function
a="Hello,Guys!"
len(a)

11

In [42]:
#Check string or charcter. To check if a certain phrase or character is present in a string, we can use the keyword IN.
txt = "The best things in life are free!"
print("free" in txt)

True

In [44]:
txt="chandra is an intelligent person"

if "chandra" in txt:
    print("yes"+" string present")
else:
    print("No"+" string not present")

yes string present

In [45]:
txt="chandra is an intelligent person"

if "pujari" in txt:
    print("yes"+" string present")
else:
    print("No"+" string not present")

No string not present

# String Slicing

In [46]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [47]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [48]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [49]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [50]:
#The strip() method removes any whitespace from the beginning or the end:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [52]:
#The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [53]:
#The split() method splits the string into substrings if it finds instances of the separator:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [54]:
#Merge variable a with variable b into variable c:
#To concatenate, or combine, two strings you can use the + operator.
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [55]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [56]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!
The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [57]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [58]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [59]:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

Escape Character:
    
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

In [67]:
FirstName="Chandra" '\n' "Shekhar"
LastName="Pujari"
FullName= FirstName+'\n'+LastName
print(FullName)

Chandra
Shekhar
Pujari

In [68]:
#capitalize()- Converts the first character to upper case
txt="chandrapujari"
txt.capitalize()

'Chandrapujari'

In [69]:
# casefold()- Converts string into lower case
txt="CHANDRAPUJARI"
txt.casefold()

'chandrapujari'

In [71]:
#center()- Returns a centered string
txt="Chandra Shekhar Pujari"
txt.center()

TypeError: center expected at least 1 argument, got 0

In [73]:
txt = "banana"

x = txt.center(20, "O")

print(x)

OOOOOOObananaOOOOOOO

In [88]:
#count()- Returns the number of times a specified value occurs in a string
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 0, 24)

print(x)

2

In [90]:
#encode()- method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.
txt = "My name is Stale"
txt.encode()

b'My name is Stale'

In [91]:
#Split-Output will be list
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [94]:
txt="Hello Guys, How are you, I am well"

txt.split(",")

['Hello Guys', ' How are you', ' I am well']

In [96]:
#endswith()- method returns True if the string ends with the specified value, otherwise False.
txt="chandra"
txt.endswith("a")

True

In [98]:
#find() - returns output in bool,Searches the string for a specified value and returns the position of where it was found.
#Note:- The find() method returns -1 if the value is not found.
#The find() method is almost the same as the index() method,the only difference is that the index() method raises an exception if the value is not found.
txt="ChandraPujari"
txt.find("P",8,10)

-1

In [99]:
txt.index("P")

7

In [100]:
#The join() method takes all items in an iterable and joins them into one string.
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [103]:
myTuple = ("John", "Peter", "Vicky")
x=""
x = x.join(myTuple)

print(x)

JohnPeterVicky

In [110]:
x=["Chandra"," ","Shekhar"," "]
y="Pujari"
z=y.join(x)
print(z)

ChandraPujari PujariShekharPujari

Booleans represent one of two values: True or False.

The bool() function allows you to evaluate any value, and give you True or False in return,

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [112]:
list=[1,1,"chandra","pujari",1+2j]
bool(list)

True

In [113]:
x=0
bool(x)

False

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

In [115]:
#Arithmetic Operators:
# (+,-,*,/,//,%)

a=10
b=12
c=a+b
print(c)

22

In [116]:
c=a-b
print(c)

-2

In [119]:
a="chandra"
a=a*3
print(a)

chandrachandrachandra

In [120]:
a="Chandra"
b=a+3

TypeError: can only concatenate str (not "int") to str

In [122]:
a="chandra"
b="pujari"
a+b

'chandrapujari'

In [123]:
a-b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [124]:
a*b

TypeError: can't multiply sequence by non-int of type 'str'

List:
====
==================There are four collection data types in the Python programming language============================

1. List is a collection which is ordered and changeable. Allows duplicate members.

2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

3. Set is a collection which is unordered and unindexed. No duplicate members.

4. Dictionary is a collection which is ordered* and changeable. No duplicate members.
*******************************************************************************************************************
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets.

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Since lists are indexed, lists can have items with the same value.

The list() Constructor:
==================
It is also possible to use the list() constructor when creating a new list.

In [142]:
l1=["chandra",1,2.0,"Pujari",True]
print(l1)

['chandra', 1, 2.0, 'Pujari', True]

In [130]:
# Access the list item
# 1st Item of the list:

l1[0]

'chandra'

In [131]:
#Lst Item of the list
l1[-1]
#Note: Always remember list index starts with 0 from left hand side and from right hand it starts with -1 index.b

True

In [133]:
# Another way to get last element of the list:
x=len(l1)
print(x)
l1[x-1]

5

True

In [134]:
# get first three element of the list
l1[0:3]

['chandra', 1, 2.0]

In [136]:
#get last three element of the list
l1[-4:-1]

[1, 2.0, 'Pujari']

In [137]:
l1[-1:-4]
#Note:Always remember list range starts from small to large. technically -1 is larger value than -4 hence it returned empty list.

[]

In [139]:
#list elments can be changed i.e list is mutable.
l1[0]="shekhar"
print(l1)

['shekhar', 1, 2.0, 'Pujari', True]

In [144]:
#As you can see first value of the list has been replace with the now value.
# Now let see how we can add now element in the list
l1.append("India")
print(l1)
#Note: Always it will add new element in the end of the list

['chandra', 1, 2.0, 'Pujari', True, 'India']

# Access Items
List items are indexed and you can access them by referring to the index number:

In [79]:
l2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
# 1. get first element 2. get last element  3. get from 2 to 6  4. get element upto 4th element 5. last three elements

In [80]:
# 1. get first element 
l2[0]

'apple'

In [81]:
#2. get last element
l2[-1]

'mango'

In [8]:
#3. get from 2 to 6 
l2[1:7]

['banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [10]:
#4. get element upto 4th element
l2[0:4]

['apple', 'banana', 'cherry', 'orange']

In [18]:
#5. last three elements
l2[-3:]

['kiwi', 'melon', 'mango']

In [19]:
#6. First three elements
l2[:3]

['apple', 'banana', 'cherry']

In [82]:
#get middle value of the list
import math
list_len=len(l2)%2
if list_len!=0:
    len1=len(l2)/2
    print(l2[math.ceil(len1)-1])
else:
    mid_value=len(l2)/2
    print(l2[round(mid_value)])

orange

# List Constructor:

In [1]:
l1=list(("chandra",1,"pujari","cherry","pujari"))

In [2]:
l1

['chandra', 1, 'pujari', 'cherry', 'pujari']

In [3]:
l1[0]

'chandra'

In [4]:
#Add New Element in List
#insert() is the function
l1.insert(2,"shekhar")

In [5]:
l1

['chandra', 1, 'shekhar', 'pujari', 'cherry', 'pujari']

In [6]:
l1.append("shekhar")

In [7]:
l1

['chandra', 1, 'shekhar', 'pujari', 'cherry', 'pujari', 'shekhar']

Append Items
To add an item to the end of the list, use the append() method:

# Difference b/w append() and insert() method:
Append(): This method is used to add element in list but this method will add element at the end of the list.

Insert(): This method is also used to add element but we can decide position , on which position we really want to insert element in the list.

In [9]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [10]:
thislist.insert(2,"chandra")

In [11]:
thislist

['apple', 'banana', 'chandra', 'cherry', 'orange']

Add Any Iterable to list:
    extend() method is used

In [12]:
t1=("chandra","pujari") #t1 is tuple
thislist.extend(t1)
print(thislist)

['apple', 'banana', 'chandra', 'cherry', 'orange', 'chandra', 'pujari']

# Remove List Items:
    
    Remove Specified Item:
        
The remove() method removes the specified item.

    Remove Specified Index:
    
pop() method : removes the specified index.
note:If you do not specify the index, the pop() method removes the last item.
    
    The del keyword also removes the specified index.
    The del keyword can delete entire list if you don't specify index.
    
    Clear the List:
    
The clear() method empties the list.

The list still remains, but it has no content.

In [14]:
l1=[1,2,3,"chandra","pujari",1.2,"India","pujari"]
print(l1)

[1, 2, 3, 'chandra', 'pujari', 1.2, 'India', 'pujari']

In [15]:
l1.remove("pujari")

In [16]:
print(l1)

[1, 2, 3, 'chandra', 1.2, 'India', 'pujari']

In [19]:
l1.pop()#------------remove lst element of the list
print(l1)

[1, 2, 3, 'chandra', 1.2]

In [20]:
l1.pop(0)
print(l1)

[2, 3, 'chandra', 1.2]

In [24]:
#Note: del is a keyword
del l1[0]
print(l1)

[3, 'chandra', 1.2]

In [25]:
#Clear(): It will clear the list

l1.clear()

In [26]:
l1
#note: list cleared no item inside the list

[]

In [27]:
del l1

In [28]:
print(l1)

NameError: name 'l1' is not defined

# Loops in list:

In [1]:
l1=["chandra","Pujari","Garima","Sharma","Cherry","King"]

In [2]:
for i in l1:
    print(i)

chandra
Pujari
Garima
Sharma
Cherry
King

In [3]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [9]:
x=range(3,6)
for n in x:
    print(n)

3
4
5

In [1]:
l1=[1,2,3,4,5,6,7,"chandra","pujari","India","Uttrakhand","Ranikhet"]

In [2]:
for i in range(len(l1)):
    print(l1[i])

1
2
3
4
5
6
7
chandra
pujari
India
Uttrakhand
Ranikhet

In [4]:
i=0
while i < len(l1):
    print(l1[i])
    i=i+1

1
2
3
4
5
6
7
chandra
pujari
India
Uttrakhand
Ranikhet

# List Comprehension:
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [5]:
#Without list comprehension

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

but with list comprehension we can write above code in single line of code
newlist = [expression for item in iterable if condition == True]

In [7]:
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [9]:
newlist=[x for x in fruits if x!="apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

Iterable
The iterable can be any iterable object, like a list, tuple, set etc.

In [12]:
l1=list()
l1=[i for i in range(10)]
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
l2=list()
l2=[i for i in range(10) if i<5]
print(l2)

[0, 1, 2, 3, 4]

In [15]:
fruits=["Cherry","apple","banana","mango","papaya","jack"]
l3=list()
l3=[x.upper() for x in fruits]
print(l3)

['CHERRY', 'APPLE', 'BANANA', 'MANGO', 'PAPAYA', 'JACK']

In [23]:
l4=list()
l4=[x for x in fruits if "a" not in x ]
print(l4)

['Cherry']

In [24]:
l4 = [x if x != "banana" else x for x in fruits]
print(l4)

['Cherry', 'apple', 'banana', 'mango', 'papaya', 'jack']

# Sort List:
List objects have a sort() method that will sort the list alphanumerically, ascending, by default.

In [25]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [26]:
l5=[1,2,3,4,5,6,7,8]
l5.sort()
print(l5)
# Note: By default sorting order would be ascending

[1, 2, 3, 4, 5, 6, 7, 8]

In [28]:
# sort in descending order
l5.sort(reverse=True)
print(l5)

[8, 7, 6, 5, 4, 3, 2, 1]

Copy List:
    There are ways to make a copy, one way is to use the built-in List method copy().
    Another way to make a copy is to use the built-in method list().

In [30]:
fruits=["Cherry","apple","banana","mango","papaya","jack"]
l6=list()
l6=fruits.copy()
print(l6)

['Cherry', 'apple', 'banana', 'mango', 'papaya', 'jack']

In [32]:
#list(): we can use this method to copy items from onlist to another list.
l7=["chandra"]
print(l7)
l7=fruits.copy()
print(l7)

['chandra']
['Cherry', 'apple', 'banana', 'mango', 'papaya', 'jack']

# Join Lists

There are several ways to join, or concatenate, two or more lists in Python.

In [4]:
# + Operator:
l1=[1,2,3,4,5]
l2=["chandra","pujari","shekhar"]
l3=l1+l2
print(l3)

[1, 2, 3, 4, 5, 'chandra', 'pujari', 'shekhar']

In [2]:
#append():this method is used to append elements
for x in l1:
    l2.append(x)
print(l2)

['chandra', 'pujari', 'shekhar', 1, 2, 3, 4, 5]

In [5]:
#Extend():This method is used to extend the existing list
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 'chandra', 'pujari', 'shekhar']

In [6]:
#Print the second item of the list
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

# Tuple:
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [7]:
t1=("apple","banana","orange")
print(t1)

('apple', 'banana', 'orange')

# Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered:

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable:

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates:

Since tuples are indexed, they can have items with the same value:

In [9]:
t1[0]

'apple'

In [10]:
t1[0]="Mango"  #--------------Unchangeable

TypeError: 'tuple' object does not support item assignment

In [11]:
t1.append("apple")

AttributeError: 'tuple' object has no attribute 'append'

Elements of the tuple can be accessed as same as list.

In [12]:
t1[-1]

'orange'

In [13]:
t1[0:2]

('apple', 'banana')

# Update Tuples:
Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [1]:
t1=("chandra",1,2,3,"pujari")
t1.append("Good")

AttributeError: 'tuple' object has no attribute 'append'

In [3]:
l1=list(t1)#--------------------------Convert first into list
l1.append("good")#--------------------Add Item to list
print(l1)
t1=tuple(l1)#---------------------------Convert back to tuple
print(t1)

['chandra', 1, 2, 3, 'pujari', 'good']
('chandra', 1, 2, 3, 'pujari', 'good')

Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [4]:
t1=("chandra",1,2,3,"Pujari")
t2=("Shekhar","India")
t1+=t2
print(t1)

('chandra', 1, 2, 3, 'Pujari', 'Shekhar', 'India')

# Unpack Tuples:
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [5]:
#Unpacking tuple
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

#Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

apple
banana
cherry

# Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [6]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [7]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)
#Note:If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

apple
['mango', 'papaya', 'pineapple']
cherry

# Loop Through a Tuple

In [8]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [10]:
for x in range(len(thistuple)):
    print(thistuple[x])

apple
banana
cherry

In [11]:
#While Loop:
x=(1,2,3,4,5,6,"chandra","pujari")
i=0
while i<len(x):
    print(x[i])
    i+=1

1
2
3
4
5
6
chandra
pujari

# Join Tuple:

In [12]:
t1=(1,2,3,4,5)
t2=("chandra","pujari","shekhar")
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 'chandra', 'pujari', 'shekhar')

In [13]:
t1*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [14]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [18]:
t1.count(1)

1

In [19]:
t1.index(1)

0

In [20]:
#tuple constructor
t1=tuple()

In [21]:
type(t1)

tuple

# Sets
A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

Note: Sets are unordered, so you cannot be sure in which order the items will appear.b

Set items are unordered, unchangeable, and do not allow duplicate values.
Unordered:
    
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable:
    
Sets are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can add new items.

Duplicates Not Allowed:

Sets cannot have two items with the same value.


======================================================================================================

Python Collections (Arrays):

There are four collection data types in the Python programming language:

1. List is a collection which is ordered and changeable. Allows duplicate members.
2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
3. Set is a collection which is unordered and unindexed. No duplicate members.
4. Dictionary is a collection which is ordered* and changeable. No duplicate members.
======================================================================================================

In [30]:
s1={"chandra",1,2,"pujari","chandra"}
print(s1)

{1, 'chandra', 2, 'pujari'}

In [31]:
for x in s1:
    print(x)

1
chandra
2
pujari

In [32]:
#length of the set :
s1={1,2,3,4,5,6,7,8}
len(s1)

8

In [33]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [35]:
s2=set()
s2={"chandra","cherry","Pujari"}

In [36]:
print(s2)

{'chandra', 'Pujari', 'cherry'}

# Access Items from set:
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [37]:
for i in s2:
    print(i)

chandra
Pujari
cherry

In [38]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

Once a set is created, you cannot change its items, but you can add new items.

In [39]:

#Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

In [40]:
#To add items from another set into the current set, use the update() method.
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'banana', 'mango', 'pineapple', 'papaya', 'cherry'}

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [41]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'orange', 'banana', 'kiwi', 'cherry'}

# Remove Item From SET

To remove an item in a set, use the remove(), or the discard() method.

NOTE: If the item to remove does not exist, remove() will raise an error.

You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

The clear() method empties the set.

The del keyword will delete the set completely.

In [42]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [43]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

NOTE:If the item to remove does not exist, discard() will NOT raise an error.

In [45]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [46]:

#Clear():The clear() method empties the set
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [48]:
#del: The del keyword will delete the set completely
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# Join Sets:

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [49]:
# Union():The union() method returns a new set with all items from both sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

#Note: with union method we need a new set.

{1, 2, 3, 'a', 'c', 'b'}

In [79]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
#Note : Using update() method we don't need another set declared.

In [80]:
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [85]:
set1={"Chandra","Pujari","Shekhar","Chandra","Shekhar"}
set2={1,2,3,4,5,6,6,6,6,6}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 'Chandra', 'Shekhar', 'Pujari'}

In [91]:
set1={"Chandra","Pujari","Shekhar","Chandra","Shekhar"}
set2={1,2,3,4,5,6,6,6,6,6}
set1.update(set2)

In [92]:
print(set1)

{1, 2, 3, 4, 5, 6, 'Chandra', 'Shekhar', 'Pujari'}

NOTE: Note: Both union() and update() will exclude any duplicate items.

In [93]:
#intersection_update(): It will keep only the items that are present in both sets

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

In [94]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

Intersection(): The intersection() method will return a new set, that only contains the items that are present in both sets.

In [96]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple","cherry"}

z = x.intersection(y)

print(z)

{'apple', 'cherry'}

symmetric_difference_update(): This method will keep only the elements that are NOT present in both sets.

In [97]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'banana', 'google', 'cherry'}

symmetric_difference() :This method will return a new set, that contains only the elements that are NOT present in both sets.

In [98]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'cherry', 'google', 'microsoft'}

In [101]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

# Dictionaries
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

Changeable:

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

Duplicates Not Allowed:

Dictionaries cannot have two items with the same key.

In [103]:
d1={"key1":"Apple",
   "key2":"Banana",
   "key3":"Orange",
   "key4":"Cherry",
   "key5":"Grapes"}
print(d1)

{'key1': 'Apple', 'key2': 'Banana', 'key3': 'Orange', 'key4': 'Cherry', 'key5': 'Grapes'}

Dictionary Length:

To determine how many items a dictionary has, use the len() function:

In [105]:
len(d1)

5

Dictionary Items - Data Types:

The values in dictionary items can be of any data type

In [106]:
d2={"key1":"Apple",
   "key2":"Banana",
   "key3":1.2,
   "key4":1,
   "key5":["Grapes",1,"Kiwi"]}

In [107]:
print(d2)

{'key1': 'Apple', 'key2': 'Banana', 'key3': 1.2, 'key4': 1, 'key5': ['Grapes', 1, 'Kiwi']}

In [109]:
type(d2)

dict

In [110]:
d3={"key1":"Chandra",
   "key2":"Chandra",
   "key3":"Pujari",
   "key4":"Shekhar"}
print(d3)

{'key1': 'Chandra', 'key2': 'Chandra', 'key3': 'Pujari', 'key4': 'Shekhar'}

In [114]:
d3["key5"]="Charu"
print(d3)

{'key1': 'Chandra', 'key2': 'Chandra', 'key3': 'Pujari', 'key4': 'Shekhar', 'key5': 'Charu'}

NOTE:
    
Duplicates Not Allowed:
        
Dictionaries cannot have two items with the same key

In [115]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# Access Dictionary Items

In [116]:
d2={"key1":"Apple",
   "key2":"Banana",
   "key3":1.2,
   "key4":1,
   "key5":["Grapes",1,"Kiwi"]}

In [118]:
d2["key2"]

'Banana'

In [120]:
x=d2["key5"]

In [121]:
x[0]

'Grapes'

In [122]:
# Get():There is also a method called get() that will give you the same result:
d2.get("key5")

['Grapes', 1, 'Kiwi']

In [124]:
#Key(): this method returns list of keys in dictonary.
l2=d2.keys()

In [126]:
type(l2)

dict_keys

In [127]:
#values(): This method will return the list of values of dictonary.
d2.values()

dict_values(['Apple', 'Banana', 1.2, 1, ['Grapes', 1, 'Kiwi']])

In [129]:
# Items():The items() method will return each item in a dictionary, as tuples in a list.
d2.items()

dict_items([('key1', 'Apple'), ('key2', 'Banana'), ('key3', 1.2), ('key4', 1), ('key5', ['Grapes', 1, 'Kiwi'])])

Change Values:
    
You can change the value of a specific item by referring to its key name:

In [130]:
d2={"key1":"Apple",
   "key2":"Banana",
   "key3":1.2,
   "key4":1,
   "key5":["Grapes",1,"Kiwi"]}

d2["key5"]="Orange"

print(d2)

#Note:this is simple way to change value in the dictionary

{'key1': 'Apple', 'key2': 'Banana', 'key3': 1.2, 'key4': 1, 'key5': 'Orange'}

# Update Dictionary:
    
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [131]:
d2.update({"key6":"Avocad"})
#Note: This method will be used to add new item in dictionary

In [132]:
d2

{'key1': 'Apple',
 'key2': 'Banana',
 'key3': 1.2,
 'key4': 1,
 'key5': 'Orange',
 'key6': 'Avocad'}

In [133]:
d2.update({"key6":"Kiwi"})
print(d2)

{'key1': 'Apple', 'key2': 'Banana', 'key3': 1.2, 'key4': 1, 'key5': 'Orange', 'key6': 'Kiwi'}

# Add Dictionary Items:
Adding an item to the dictionary is done by using a new index key and assigning a value to it.

In [138]:
d2["key7"]=4
print(d2)

{'key1': 'Apple', 'key2': 'Banana', 'key3': 1.2, 'key4': 1, 'key5': 'Orange', 'key6': 'Kiwi', 'key7': 4, 'key8': 5}

In [143]:
d2.update({"key8":5})
print(d2)

{'key1': 'Apple', 'key2': 'Banana', 'key3': 1.2, 'key4': 1, 'key5': 'Orange', 'key6': 'Kiwi', 'key7': 4, 'key8': 5}

# Remove Dictionary Items

1. pop() method removes the item with the specified key name
2. popitem() method removes the last inserted item
3. del keyword removes the item with the specified key 
4. clear() method empties the dictionary

In [144]:
d2.pop("key8")
print(d2)

{'key1': 'Apple', 'key2': 'Banana', 'key3': 1.2, 'key4': 1, 'key5': 'Orange', 'key6': 'Kiwi', 'key7': 4}

In [145]:
d2.popitem()
print(d2)

{'key1': 'Apple', 'key2': 'Banana', 'key3': 1.2, 'key4': 1, 'key5': 'Orange', 'key6': 'Kiwi'}

In [146]:
del d2["key6"]

In [147]:
print(d2)

{'key1': 'Apple', 'key2': 'Banana', 'key3': 1.2, 'key4': 1, 'key5': 'Orange'}

In [148]:
d2.clear()
print(d2)

{}

In [149]:
del d2

In [150]:
print(d2)

NameError: name 'd2' is not defined

# Loop through Dictionary:

In [151]:
d2={"key1":"Apple",
   "key2":"Banana",
   "key3":1.2,
   "key4":1,
   "key5":["Grapes",1,"Kiwi"]}
print(d2)

{'key1': 'Apple', 'key2': 'Banana', 'key3': 1.2, 'key4': 1, 'key5': ['Grapes', 1, 'Kiwi']}

In [152]:
for x in d2:
    print(x)
#Note: It means loop returns values of keys of dictionary

key1
key2
key3
key4
key5

In [153]:
# Q:Print keys of dictionary
for x in d2.keys():
    print(x)

key1
key2
key3
key4
key5

In [154]:
#Q:Print values of dictionary
for x in d2.values():
    print(x)

Apple
Banana
1.2
1
['Grapes', 1, 'Kiwi']

In [159]:
#Q: Get keys and values into two different lists
l1=list()
l2=list()
for x,y in d2.items():
    l1.append(x)
    l2.append(y)
print(l1,l2)

['key1', 'key2', 'key3', 'key4', 'key5'] ['Apple', 'Banana', 1.2, 1, ['Grapes', 1, 'Kiwi']]

# Copy a Dictionary:

We can't copy one dictionary to another dictionary simply by assiging one dictionary to another one.

We have two built in methods to fulfill this purpose. Which can easly copy dictionary.

1. Copy() 2. Dict()

In [8]:
d1={"1":"Apple","2":"Orange","3":"Mango","4":"Kiwi","5":"Avocad","6":"Papaya","7":"Banana","8":"Spota","9":"Lichi",}
d2={"key1":1,"key2":2,"Key3":3,"key4":4,"key5":5,"key6":6,}

In [6]:
d1=d2.copy()

In [7]:
print(d1)

{'key1': 1, 'key2': 2, 'Key3': 3, 'key4': 4, 'key5': 5, 'key6': 6}

In [10]:
d1=dict(d2)
print(d1)

{'key1': 1, 'key2': 2, 'Key3': 3, 'key4': 4, 'key5': 5, 'key6': 6}

# Nested Dictionaries:

This is important topic bcz when we deal with JSON data we can see nested dictionaries many times.

Nested dictionary is nothing but it's dictionary inside a dictionay.

In [11]:
d1={"1":"Apple","2":{"1":"Chandra","2":"Shekhar","3":"Pujari"},"3":"Mango","4":"Kiwi","5":{"key1":"Delhi","Key2":"Bangalore","key3":"Pune"},"6":"Papaya","7":"Banana","8":"Spota","9":"Lichi",}

In [12]:
print(d1)

{'1': 'Apple', '2': {'1': 'Chandra', '2': 'Shekhar', '3': 'Pujari'}, '3': 'Mango', '4': 'Kiwi', '5': {'key1': 'Delhi', 'Key2': 'Bangalore', 'key3': 'Pune'}, '6': 'Papaya', '7': 'Banana', '8': 'Spota', '9': 'Lichi'}

In [14]:
d1["2"]["3"]

'Pujari'

In [18]:
#Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : [1,2,3,4,5]
}

mychild={"child1":child1,"child2":child2,"child3":child3}
print(mychild)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': [1, 2, 3, 4, 5]}}

In [20]:
#get value from thrid dictionary value

mychild["child3"]["year"][1:5]

[2, 3, 4, 5]

# Dictionary Methods:
    
clear()	: Removes all the elements from the dictionary
copy()	: Returns a copy of the dictionary
fromkeys(): Returns a dictionary with the specified keys and value
get() : Returns the value of the specified key
items(): Returns a list containing a tuple for each key value pair
keys(): Returns a list containing the dictionary's keys
pop(): Removes the element with the specified key
popitem(): Removes the last inserted key-value pair
setdefault(): Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update(): Updates the dictionary with the specified key-value pairs
values(): Returns a list of all the values in the dictionary

# If ... Else:

An "if statement" is written by using the if keyword.

elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

else keyword catches anything which isn't caught by the preceding conditions.


The pass Statement:

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [21]:
l1=["chandra","puajri","shekhar","Garima","Sharma","jk"]
l2=list()
l3=list()
for x in l1:
    if "a" in x:
        l2.append(x)
    else:
        l3.append(x)
print(l2,l3)

['chandra', 'puajri', 'shekhar', 'Garima', 'Sharma'] ['jk']

In [25]:
# write a programe to create two lists of odd and even number in 1 to 100

even=list()
odd=list()
i=1
while i<=100:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
    i+=1
print(even, odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100] [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Loops:
    
Python has two primitive loop commands:

1. while loops
2. for loops

While loops:

while loop we can execute a set of statements as long as a condition is true.

The break Statement:

With the break statement we can stop the loop even if the while condition is true

The continue Statement:

With the continue statement we can stop the current iteration of the loop, and continue with the next

For loops:

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

The for loop does not require an indexing variable to set beforehand.

Break & Continue Statement:

With the break statement we can stop the loop before it has looped through all the items.
With the continue statement we can stop the current iteration of the loop, and continue with the next


range()Function:

To loop through a set of code a specified number of times, we can use the range() function.

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.


Nested Loops:

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop"


NOTE : for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [29]:
l1=list()
for x in "chandra":
    l1.append(x)

In [30]:
print(l1)

['c', 'h', 'a', 'n', 'd', 'r', 'a']

In [31]:
l1=[1,2,3,4,5,6,7,8,9]
l2=list()
for x in l1:
    if x==6:
        break
    else:
        l2.append(x)
print(l2)

[1, 2, 3, 4, 5]

In [35]:
for x in l1:

SyntaxError: unexpected EOF while parsing (<ipython-input-35-37a23f7d5116>, line 1)

In [37]:
for x in l1:
    pass
#Note:we can't leave for loop blank otherwise it throws exception.

In [45]:
# Write a program to skip 5 to be printed
l1=[1,2,3,4,5,6,7,8,9]
l2=list()
for x in l1:
    if x==5:
        continue
    l2.append(x)
print(l2)

[1, 2, 3, 4, 6, 7, 8, 9]

In [39]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [48]:
for x in range(100):
    if x%2==0:
        even.append(x)
    else:
        odd.append(x)
print(even,odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98] [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [49]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [52]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")

x = zip(a, b)
x